<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Agregar Estudiante</h1>

    <form action="/addperson" method="POST">
        <label for="nss">NSS:</label>
        <input type="text" id="nss" name="nss"><br><br>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre"><br><br>
        <label for="edad">Edad:</label>
        <input type="text" name="edad" id="edad"><br><br>
        <label for="tipoSangre">Tipo de Sangre:</label>
        <input type="text" name="tipoSangre" id="tipoSangre"><br><br>

        <input type="submit" value="submit">
    </form>

</body>
</html>